APP_REDIS_CONN_STRING=redis://127.0.0.1:6379
APP_DATABASE_URI_VALUE=postgresql://postgres:postgres_password@localhost:5432/truesubmit?schema=public
# Giới hạn số lượng sandbox chạy song song tối đa trên Worker này (tùy thuộc vào CPU/RAM của máy chủ chạy worker)
SANDBOX_MAX_CONCURRENT=8