APP_DATABASE_URI_VALUE=postgresql://postgres:postgres_password@localhost:5432/truesubmit?schema=public
APP_REDIS_CONN_STRING=redis://127.0.0.1:6379
APP_INTERNAL_AUTH_TOKEN=secure_internal_token_for_communication